.icon {
    display: inline-block;
    font-size: 0;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-size: 100% 100%;
}

.icon:not(.icon-abs) {
    position: relative;
}

.icon-abs {
    position: absolute;
}